{% extends 'eim/eim_template.html' %}

{% block detail %}

    <h2>Page PATH /eim/unit_detail.html</h2>
    {% if messages %} {% for message in messages %}
        <p  {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}{% endif %}
    <div class="row">
        {% if unit %}

            <b>{{ unit.serial_number }}</b><br/>

            System ID: {{ unit.id }}<br/>
            Old KCS Number: {{ unit.old_kcs_number }}<br/>
            Unit type{{ unit.type }}New Kcs Number: {{ unit.new_kcs_number }}<br/>
            Receive Impression: {{ unit.memo }}<br/>
            {% if unit.is_active %}Unit is still in process
            {% else %}Unit is finished process!
            {% endif %}
            <br/>
            <hr/>
            {% if operations %}
                <p>Operation done in Nexcom site: </p><br/>

                <ul>
                    {% for operation in operations %}
                        <li>{{ operation.time }} => {{ operation.content }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="alert alert-warning">No operation information found!</p>
            {% endif %}
        {% else %}
            Unit doesn't exist
        {% endif %}

    </div>

{% endblock %}